*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: white;
  color: #4A4A4A;
  font-family: "PingFang SC", "Microsoft YaHei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

li {
  list-style: none;
}

.container {
  height: 100%;
}

.wrapper {
  background-color: #f1f4f9;
  min-height: 100%;
  height: auto;
  margin: 0 auto -100px;
}

.footer {
  color: #ccc;
  height: 100px;
}